*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8fd;
}

main{
    display: flex;
    flex-direction: column;
}

.cont{
    display: flex;
}

.img{
    display: flex;
    width: 20%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    margin-top: 20px;
    border-radius: 20px 0px 0px 20px;
    justify-content: center;
}

.img>img{
    width: 200px;
}

.contenedor {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    margin-bottom: 20px;
}

.notas{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.botones{
    display: flex;
    justify-content: space-between;
    background-color: #373e68;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

.botones > a {
    text-decoration: none;
    color: #fff;
    background-color: #ad1fe9;
    border-radius: 8px;
    width: 150px;
    text-align: right;
    padding-top: 5px;
    position: relative;
    padding-right: 7px;
    margin-right: 20px;
}

.botones > a:hover{
    opacity: 0.8;

}

.botones > a > i{
    position: absolute;
    left: 10px;
    padding-top: 2px;
}

.botones > h2{
    margin-left: 20px;
}

.id{
    text-align: center;
    padding-left: 2px;
}

.titulo-btn{
    margin-bottom: 20px;
    position: relative;
}
.titulo-btn>i{
    color: #101a35;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    
}

.titulo{
    text-transform: uppercase;
    margin-left: 20px;
}

.descripcion{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f8fd;
    border-radius: 5px;
}

.btn-r{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: end;
    
}

.btn-r > a ,form{
    text-decoration: none;
    margin-left: 5px;
    width: 80px;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: #101a35;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    
}

.btn-r > a {
    font-size: 15px;
}

.btn-r > a:hover ,form:hover{
    opacity: 0.8;
}

.btn-r > form >button{
    color: white;
    border: none;
    background-color: #101a35;
    cursor: pointer;
    font-size: 15px;

}

.h{
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 10px;
}