*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8fd;
}

main{
    display: flex;
    flex-direction: column;
}

.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 550px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.arriba{
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

#volver{
    position: absolute;
    right: 20px;
    top: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #ad1fe9;
    border-radius: 8px;
    width: 80px;
    padding: 4px;
}

#volver:hover{
    background-color: #cc53ff;
}

.titulo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
    align-self: center;
}

.titulo > textarea{
    
    width: 100%;
    border: none;
    background-color: #f7f8fd;
    outline: none;
    padding: 7px;
    border-radius: 10px;
    padding-left: 15px;
    resize: none;
    padding-top: 10px;
}
.titulo > input{
    width: 100%;
    border: none;
    background-color: #f7f8fd;
    outline: none;
    padding: 7px;
    border-radius: 10px;
    padding-left: 15px;

}
.titulo > label{
    margin-bottom: 10px;
    text-align: left;
}

#des{
    height: 200px;

}

h2{
    text-transform: uppercase;
}

.btn-a{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    align-self: center;
}

.btn-a > button{
    background-color: #101a35;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: lowercase;
}

.btn-a > button:hover{
    background-color: #3b559b;
}


